<template name="productFeaturettes">
    <div class="container marketing">
        {{#each addIndex productItems}}
            <hr class="featurette-divider">
            {{#if isOdd index}}
                {{>evenFeaturette}}
            {{else}}
                {{>oddFeaturette}}
            {{/if}}
        {{/each}}
    </div>
</template>


<template name="evenFeaturette">
    <div class="row featurette featuretteEven">
        <div class="col-md-7">
            {{>featuretteText}}
        </div>
        <div class="col-md-5">
            {{>featuretteImage}}
        </div>
    </div>
</template>

<template name="oddFeaturette">
    <div class="row featurette featuretteOdd">
        <div class="col-md-7 col-md-push-5">
            {{>featuretteText}}
        </div>
        <div class="col-md-5 col-md-pull-7">
            {{>featuretteImage}}
        </div>
    </div>
</template>

<template name="featuretteText">
    <h2 class="featurette-heading">{{value.productName}}. <span class="text-muted">{{value.productDetail}}.</span></h2>
    <p class="lead">{{value.productDescription}}</p>
</template>

<template name="featuretteImage">
    <a href="{{value.productLink}}">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="{{value.productName}}"
             src="{{value.productImageSource}}" data-holder-rendered="true">
    </a>
</template>