<template name="products">
    <div class="carousel-inner" role="listbox">
        {{#each productItems}}
            {{> product}}
        {{/each}}
    </div>
</template>

<template name="product">
    <div class="item">
        <a href="{{productLink}}">
            <img src="{{productImageSource}}"/>
        </a>
        <div class="carousel-caption">
            <h3><span>{{productName}}</span></h3>
            <p><span>{{productDetail}}</span></p>
            <a class="btn btn-xlg btn-primary" href="{{productLink}}">Get one</a>
        </div>
    </div>
</template>